* {
  margin: 0;
  padding: 0;
}

.container {
    width: 100%;
}

body {
  background-color: #fffef4;
  color: #435160;
  /*font-family: "Open Sans", sans-serif;*/
}

/* copyright*/
footer {
    text-align: center;
    margin-top: 60%;
    
}

/* navbar.blade.php ↓　********************************************************/
.navbar {
  background-color: #d1f5ff;
}

/* カーソルを当てた時のアニメーション↓　*/
.navbar-right:hover {
  background-color: #5b75ad;
}

/* navbarの下線消すコード ↓　*/
.navbar-static-top {
  border-width: 0;
}

/* navbarの小ロゴ ↓　*/
.logo2 {
  width: 150px;
  height: 50px;
}

.hot {
    width: 50px;
    text-align: center;
}


/* welcome.blade.php ↓　*******************************************************/
/* welcomeの背景マップ*/
.map-unko {
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center;
 　 z-index: 0;
 　 font-weight: bold;
 　 font-size: 28px !important;
    opacity: 0.5;
}

/* 大ロゴとボタンのdiv*/
.text-center {
    position: absolute;
    top: 100px;
    width: 100%;
    z-index: 10;
}

/* welcomeの大ロゴ ↓　*/
.logo1 {
    width: 30%;
    height: auto;
    margin: 0px 0px 50px 0px;
    transition: 1.5s;
}

/* ボタン両方 ↓　*/
.btn {
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: x-large;
    padding: 5px 11px 5px 15px;
    text-decoration: none;
    transition: all .5s, opacity .5s 1s, display 0s;
    background-color: rgba(0,0,0,0);
}

.btn-group {
    margin-right: 25px;
}

/* ボタンの左の縦棒 ↓　*/
.btn:before {
   position: absolute;
   display: inline-block;
   content: '';
   width: 4px;
   height: 100%;
   top: 0;
   left: 0;
   border-radius: 3px;
   background: #5b75ad;
}

/* 左ボタン ↓　*/
.square_btn1 {
    margin-right: 50px;
}

/* ボタンの右の縦棒 ↓　*/
.btn:after{
   position: absolute;
   display: inline-block;
   content: '';
   width: 4px;
   height: 100%;
   top:0;
   left: 100%;
   border-radius: 3px;
   background: #5b75ad;
}

/* 右ボタン ↓　*/
.square_btn2 {
    margin-right: 25px;
}

/* カーソルを合わせた時の棒の動きの角度 ↓　*/
.btn:hover:before,.btn:hover:after{
  -webkit-transform: rotate(20deg);
  -ms-transform: rotate(20deg);
  transform: rotate(20deg);
  background: #5b75ad;
}

.teams {
    font-family: fantasy !important;
}

/* register.blade.php ↓　******************************************************/
.ex1 {
    text-align: center;
    font-size: 100px;
    color: #5b75ad;
}

.ex2 {
    text-align: center;
    font-size: 50px;
    color: #5b75ad;
}

/*.left-content {*/
/*  font-size: 70px;*/
/*}*/

/*.debu {*/
/*  color: red;*/
/*  font-size: 90px;*/
/*}*/

/*.gari {*/
/*  color: blue;*/
/*  font-size: 90px;*/
/*}*/

/* 右側のコンテント ↓　*/
/*.right-content {*/

/*}*/

* {
  margin: 0;
  padding: 0;
  font-family: cursive;
}


/* signupのタイトル ↓　*/
.sighup-title {
  color: #5b75ad;
  font-family: cursive;
  font-weight: bold;
  font-size: 3.6em;
  text-align: center;
  margin-bottom: 20px;
}

/* signupの質問項目 ↓　*/
.sofia{
  color: #5b75ad;
  font-family: cursive;
  font-weight: bold;
  font-size: 1.4em;
  text-align: left;
  margin-bottom: 2px;
}

/* signupの入力内容　*/
.form{
    font-family: arial;
}

/* signupボタン ↓　*/
.btn-signup {
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: x-large;
    padding: 5px 11px 5px 15px;
    text-decoration: none;
    color:  #5b75ad;
}

/* already have?の部分 ↓　*/
.loginhere {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
}

.loginhere:hover {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  color:  #5b75ad;
}

::-webkit-input-placeholder {
  color: #435160;
  font-size: 12px;
}



/* login.blade.php ↓　*********************************************************/
.loginpage {
  margin-top: 20px;
}

/* loginのタイトル ↓　*/
.login-title {
  color: #5b75ad;
  font-family: cursive;
  font-weight: bold;
  font-size: 3.6em;
  text-align: center;
  margin-bottom: 20px;
}

.btn-login {
    position: relative;
    display: inline-block;
    font-weight: bold;
    font-size: x-large;
    padding: 5px 11px 5px 15px;
    text-decoration: none;
    color:  #5b75ad;
}



/* feel.blade.php ↓　**********************************************************/
.feelpage {
  margin-top: 0px;
}

.explanation {
    text-align: center;
    font-size: 48px;
    color: #5b75ad;
    margin: 50px 0px;
}

/* 左のコンテント ↓　*/
.hotcontent {
  width: 33%;
  float: left;
  text-align: center;
  /*margin-left: 10%;*/
}

.hot-icon_img{
   width: 33%;
}

.hotbtn{
  display: inline;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 5px 11px 5px 15px;
  text-decoration: none;
  color: #ff6767;
  transition: .4s;
  margin-top: 25px;
}

.hotbtn:before {
   position: absolute;
   display: inline-block;
   content: '';
   width: 4px;
   height: 100%;
   top: 0;
   left: 0;
   border-radius: 3px;
   background:#ff6767;
}

.hotbtn:after{
   position: absolute;
   display: inline-block;
   content: '';
   width: 4px;
   height: 100%;
   top:0;
   left: 100%;
   border-radius: 3px;
   background:#ff6767;
}

.hotbtn:hover:before,.hotbtn:hover:after{
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}

/* comfortableのコンテント ↓　*/
.comcontent {
  width: 33%;
  float: left;
  text-align: center;
  /*margin-right: 10%;*/
}

.com-icon_img {
  width: 33%;
}

.combtn{
  display: inline;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 5px 11px 5px 15px;
  text-decoration: none;
  color: #03eb89;
  transition: .4s;
  margin-top: 25px;
}

.combtn:before {
   position: absolute;
   display: inline-block;
   content: '';
   width: 4px;
   height: 100%;
   top: 0;
   left: 0;
   border-radius: 3px;
   background:#03eb89;
}

.combtn:after{
   position: absolute;
   display: inline-block;
   content: '';
   width: 4px;
   height: 100%;
   top:0;
   left: 100%;
   border-radius: 3px;
   background:#03eb89;
}

.combtn:hover:before,.combtn:hover:after{
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}


/* 右のコンテント ↓　*/
.coldcontent {
  width: 33%;
  float: right;
  text-align: center;
  /*margin-right: 10%;*/
}

.cold-icon_img {
  width: 33%;
}

.coldbtn{
  display: inline;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 5px 11px 5px 15px;
  text-decoration: none;
  color: #67c5ff;
  transition: .4s;
  margin-top: 25px;
}

.coldbtn:before {
   position: absolute;
   display: inline-block;
   content: '';
   width: 4px;
   height: 100%;
   top: 0;
   left: 0;
   border-radius: 3px;
   background:#67c5ff;
}

.coldbtn:after{
   position: absolute;
   display: inline-block;
   content: '';
   width: 4px;
   height: 100%;
   top:0;
   left: 100%;
   border-radius: 3px;
   background:#67c5ff;
}

.coldbtn:hover:before,.coldbtn:hover:after{
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}



/* map.blade.php ↓　***********************************************************/
.map-child  {
  width: 100%;
  display: inline-block;
  text-align: center;
  height: 10px;
  /*margin-top: 65px;*/
}

.map-child p {
  width: 24%;
  display: inline-block;
  text-align: center;
  padding: 30% 0;
  z-index: 0;
  font-family: cursive;
  font-weight: bold;
  font-size: 28px !important;
  height: 10px;
  
}
.map-detail {
    width: 100%;
  text-align: center;
}
.map-detail p {
    display: inline-block;
    width: 24%;
    font-size: 20px;
    font-weight: bold;
    
    
}
.tribe {
    text-align: center;
}

/* result.blade.php ↓　***********************************************************/
.result-top {
    margin-top: 100px;
}

/* teammaps ↓　***********************************************************/
.tribe {
    margin-top: 10px;
}


/*input[type="text"], input[type="password"] {*/
/*  width: 350px;*/
/*  padding: 20px 0px;*/
/*  background: transparent;*/
/*  border: 0;*/
/*  border-bottom: 1px solid #435160;*/
/*  outline: none;*/
/*  color: #6D7781;*/
/*  font-size: 16px;*/
/*}*/
/*input[type=checkbox] {*/
/*  display: none;*/
/*}フォーム入力の背景色*/