* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: #435160;
  font-family: "Open Sans", sans-serif;
}

.navbar {
  background-color: white;
}

.logo {
  width: 150px;
  height: 38px;
  padding-top: 10px;
}

h1 {
  color: white;
  font-family: "Sofia", cursive;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  color: #6D7781;
  font-family: "Sofia", cursive;
  font-weight: bold;
  font-size: 3.6em;
  text-align: center;
  margin-bottom: 20px;
}


  


.map-child  {
  width: 100%;
  display: inline-block;
  height: 100%;
  
  
}
.map-child p {
  
  width: 24%;
  display: inline-block;
  height: 700px;
  text-align: center;
  
}

.sofia{
  color: #6D7781;
  font-family: "Sofia", cursive;
  font-weight: bold;
  font-size: 1.4em;
  text-align: left;
  margin-bottom: 2px;
  
}


a {
  color: #435160;
  text-decoration: none;
}

.login {
  width: 350px;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -175px;
}

/*input[type="text"], input[type="password"] {*/
/*  width: 350px;*/
/*  padding: 20px 0px;*/
/*  background: transparent;*/
/*  border: 0;*/
/*  border-bottom: 1px solid #435160;*/
/*  outline: none;*/
/*  color: #6D7781;*/
/*  font-size: 16px;*/
/*}*/
/*input[type=checkbox] {*/
/*  display: none;*/
/*}フォーム入力の背景色*/

label {
  display: block;
  position: absolute;
  margin-right: 10px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: transparent;
  content: "";
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: 3px solid #435160;
}

.loginhere {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
}
.loginhere:hover {
  margin-top: 30px;
  display: block;
  font-size: 11px;
  text-align: center;
  font-weight: bold;
  color: #6D7781;
}

::-webkit-input-placeholder {
  color: #435160;
  font-size: 12px;
}

.hotcontent {
  width: 49%;
  float: left;
}

.hotbtn{
  display: inline;
  float: left;
  width: 100%;
  background-color: red;
}

.hot-icon{
  float: left;
}

.coldcontent {
  width: 49%;
  float: right;
}

.coldbtn{
  display: inline;
  float: right;
  width: 100%;
  background-color: blue;
}

.cold-icon {
  float: right;
}

.content {
  width: 50%;
  float: right;
}
